<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">简介</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			软件工程师，超过十年 TTS 各项模块与数据方面的开发与测试经验，多年桌面、移动前后端开发经验。<br/><br/>
			了解相关技术、应用和服务的流程与特点。参与完成从面向消费者到面向商用及开发者的各类语音产品，关注语音产品在各个领域的质量与使用体验。<br/><br/>
			主要使用 Python 开发文本和语音数据处理、后端服务、爬虫等，并使用 R/flutter/kotlin/dotnetcore/TypeScript 等语言或相应框架开发前端、工具及客户演示。<br/><br/>
			对应用的体验、文本和声音的质量有较高的标准。熟练使用 Markdown、RMarkdown 编写文档。开发环境和平台多样化，参与开发和维护多个语音领域的开源项目，注重伦理和安全。
		</div>
		<br>
	</div>
</div>
